In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("compoverrelowTm_Ivan.csv")

In [3]:
Tmmin=1200+273.15
Tmmax=1300.+273.15
Tgmin=500.+273.15
Tgmax=600.+273.15
rhomin=2.4e3
rhomax=2.9e3
Emin=1.e2
Emax=1.2e2

In [4]:
prop_mean = np.array([2895.329729 ,75.339880,859.366806,1664.193088])
prop_std = np.array([744.676024,13.203250,125.410018,251.331034])

In [5]:
df['rho_norm'] = (df.rho - df.rho.min())/(df.rho.max()-df.rho.min())
df['E_norm'] = (df.E - df.E.min())/(df.E.max()-df.E.min())
df['Tg_norm'] = (df.Tg - df.Tg.min())/(df.Tg.max()-df.Tg.min())
df['Tm_norm'] = (df.Tm - df.Tm.min())/(df.Tm.max()-df.Tm.min())

In [6]:
prop = np.array([2690.749874,	73.724103,	582.815750,	1276.755547	])

In [7]:
df

,Unnamed: 0,SiO2,B2O3,Al2O3,MgO,CaO,BaO,Li2O,Na2O,K2O,...,P2O5,V2O5,rho,E,Tg,Tm,rho_norm,E_norm,Tg_norm,Tm_norm
0,0,0.526899,0.0,0.037334,0.022661,0.160261,0.0,0.0,0.138846,0.003181,...,0.0,0.0,2806.884340,78.855049,564.730501,1275.829201,0.698926,0.404338,0.658492,0.908621
1,1,0.525379,0.0,0.035248,0.030779,0.044871,0.0,0.0,0.112796,0.051319,...,0.0,0.0,2842.875620,74.765335,528.776783,1265.070805,0.815671,0.216960,0.291574,0.867924
2,2,0.564736,0.0,0.008411,0.040407,0.042242,0.0,0.0,0.096673,0.082918,...,0.0,0.0,2787.912273,70.291019,536.229068,1291.158154,0.637386,0.011960,0.367627,0.966607
3,3,0.514516,0.0,0.037787,0.014544,0.000635,0.0,0.0,0.141422,0.063613,...,0.0,0.0,2884.546998,70.300113,546.395545,1253.862359,0.950841,0.012376,0.471379,0.825525
4,4,0.523957,0.0,0.017558,0.042402,0.211768,0.0,0.0,0.080239,0.028375,...,0.0,0.0,2814.503169,78.225236,590.965671,1279.345969,0.723639,0.375482,0.926229,0.921924
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405,405,0.455428,0.0,0.071259,0.037723,0.054539,0.0,0.0,0.153960,0.079344,...,0.0,0.0,2752.346626,71.496102,502.980693,1276.037158,0.522021,0.067173,0.028318,0.909407
406,406,0.452889,0.0,0.007841,0.054796,0.184436,0.0,0.0,0.105361,0.038869,...,0.0,0.0,2889.926669,76.064845,550.521159,1250.548679,0.968291,0.276499,0.513482,0.812990
407,407,0.457609,0.0,0.004100,0.015766,0.264014,0.0,0.0,0.173454,0.019255,...,0.0,0.0,2833.877285,73.276901,543.899862,1126.819494,0.786483,0.148764,0.445909,0.344947
408,408,0.536677,0.0,0.021743,0.033896,0.137373,0.0,0.0,0.133142,0.001417,...,0.0,0.0,2811.849573,84.379907,576.683349,1264.589792,0.715031,0.657471,0.780474,0.866104
409,409,0.514805,0.0,0.016431,0.032899,0.140185,0.0,0.0,0.104871,0.083478,...,0.0,0.0,2744.132513,73.054988,551.232750,1213.444289,0.495376,0.138597,0.520743,0.672631

In [8]:
def fitness(prop,weight):
    rho,E,Tg,Tm	= prop
    wrho,wE,wTg,wTm	= weight
    return wrho * (1 - rho) + wE * E + wTg * (1 - Tg) + wTm * (1 - Tm)

In [9]:
weight = [0,0.5,0,0.5]
def fitness_new(prop):
    return fitness(prop, weight)

In [10]:
df.iloc[:,-4:]

     rho_norm    E_norm   Tg_norm   Tm_norm
0    0.698926  0.404338  0.658492  0.908621
1    0.815671  0.216960  0.291574  0.867924
2    0.637386  0.011960  0.367627  0.966607
3    0.950841  0.012376  0.471379  0.825525
4    0.723639  0.375482  0.926229  0.921924
..        ...       ...       ...       ...
405  0.522021  0.067173  0.028318  0.909407
406  0.968291  0.276499  0.513482  0.812990
407  0.786483  0.148764  0.445909  0.344947
408  0.715031  0.657471  0.780474  0.866104
409  0.495376  0.138597  0.520743  0.672631

[410 rows x 4 columns]

In [11]:
df['F'] = df.iloc[:,-4:].apply(fitness_new,axis=1)

In [12]:
#df = df.dropna(how='all', axis=0)

In [13]:
df = df.loc[:, (df != 0).any(axis=0)]

In [15]:
df.sort_values(by='F',ascending=False).head(10).sort_values(by='SiO2',ascending=False).head(5)

,Unnamed: 0,SiO2,Al2O3,MgO,CaO,Na2O,K2O,ZnO,TiO2,rho,E,Tg,Tm,rho_norm,E_norm,Tg_norm,Tm_norm,F
280,280,0.507743,0.007360,0.032422,0.036792,0.211799,0.012781,0.080641,0.110462,2827.392746,81.248969,562.883787,1107.982251,0.765449,0.514021,0.639645,0.273690,0.620166
168,168,0.481842,0.051120,0.004045,0.081852,0.145038,0.004469,0.118851,0.112782,2899.702109,81.035721,560.871985,1152.869289,1.000000,0.504251,0.619114,0.443488,0.530381
150,150,0.478648,0.044632,0.060337,0.007974,0.163399,0.025605,0.087056,0.132350,2827.758239,82.670734,562.747064,1139.934979,0.766635,0.579162,0.638250,0.394560,0.592301
91,91,0.461710,0.083154,0.003962,0.080040,0.155749,0.004070,0.123740,0.087574,2865.484579,83.538578,559.537638,1185.694409,0.889008,0.618924,0.605497,0.567659,0.525633
247,247,0.461245,0.000673,0.039021,0.096003,0.201577,0.008214,0.075297,0.117969,2880.353282,83.365206,525.046829,1155.513636,0.937238,0.610981,0.253509,0.453491,0.578745